<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fileshare</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/app.css">
</head>
<body>

  <nav>
    <ul>
      <li>
        <a href="/">Upload</a>
      </li>
      <li>
        <a href="/list">List Files</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    {% block body %}{% endblock %}
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
  <script src="/static/filesize.min.js"></script>
  <script src="/static/app.js"></script>
</body>
</html>
