<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fileshare</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
</head>
<body>

  <div class="container">
    <form action="{{ post.url }}" method="post" enctype="multipart/form-data">
      {% for k, v in post.fields.items() %}
      <input type="hidden" name="{{ k }}" value="{{ v }}">
      {% endfor %}
      <input type="hidden" name="Content-Type" value="application/octet-stream">
      <input type="file" name="file">
      <button type="submit">Upload</button>
    </form>

    {% if s3Objects %}
    <ul>
      {% for s3Object in s3Objects %}
      <li>
        <a href="https://s3.amazonaws.com/{{s3Object.bucket}}/{{s3Object.s3key}}">
          {{s3Object.s3key}}
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}

  </div>
</body>
</html>
