{% extends 'layout.html' %}
{% block body %}
<ul>
  {% for i in objects %}
    <li>
      <a href="https://s3.amazonaws.com/{{ bucket }}/{{ i.key|urlencode() }}">
        {{ i.key }}
      </a>
      <button class="copy-button" data-clipboard-text="https://s3.amazonaws.com/{{ bucket }}/{{ i.key|urlencode() }}">
        Copy Link
      </button>
      <div class="filesize" data-filesize="">Size: {{ i.size }}</div>
      <div class="filetype">Type: {{ i.content_type }}</div>
    </li>
  {% endfor %}
</ul>
{% endblock %}
