{% extends 'layout.html' %}
{% block body %}
<form action="{{ post.url }}" method="post" enctype="multipart/form-data">
  {% for k, v in post.fields.items() %}
  <input type="hidden" name="{{ k }}" value="{{ v }}">
  {% endfor %}
  <input type="file" name="file">
  <button type="submit">Upload</button>
</form>

{% if args %}
<p>
  <a href="https://s3.amazonaws.com/{{ args.bucket }}/{{ args.key|urlencode() }}">
    {{ args.key|urlencode() }}
  </a>
</p>
{% endif %}

<p>Files are deleted after 14 days.</p>
{% endblock %}
