{% extends 'layout.html' %}
{% block body %}
<form id="upload_form" action="{{ post.url }}" method="post" enctype="multipart/form-data">
  {% for k, v in post.fields.items() %}
  <input type="hidden" name="{{ k }}" value="{{ v }}">
  {% endfor %}
  <input id="content_type_input" type="hidden" name="Content-Type" value="application/octet-stream">
  <input id="file_input" type="file" name="file">
</form>

<p id="upload_status"></p>

<progress id="progress_bar" value="0" max="100"></progress>

{% if args %}
<p>
  <a href="https://s3.amazonaws.com/{{ args.bucket }}/{{ args.key|urlencode() }}">
    {{ args.key|urlencode() }}
  </a>
  <button class="copy-button" data-clipboard-text="https://s3.amazonaws.com/{{ args.bucket }}/{{ args.key|urlencode() }}">
    Copy Link
  </button>
</p>
{% endif %}

<p>Files are deleted after 14 days.</p>
{% endblock %}
